#tamanhoContainer{
		width: 500px;
	}

#tamanhoContainer{
		margin-top: 40px;
	}

#formcadastro{
	margin-top: 20px
}

h4{
	text-align: center
}
#botao{
	padding-top: 5px;
	text-align: center;
}
#tamanhoTabela{
	
	width: 800px;
	margin-top: 40px;
}